altgraph==0.17
appdirs==1.4.4
asgiref==3.2.7
bcrypt==3.1.7
boto==2.49.0
cffi==1.14.0
distlib==0.3.0
Django==3.0.6
django-crispy-forms==1.9.1
django-fontawesome==1.0
django-storages==1.9.1
filelock==3.0.12
macholib==1.14
Pillow==7.1.2
psycopg2==2.8.5
psycopg2-binary==2.8.5
pycparser==2.20
PyInstaller==3.6
pytz==2020.1
PyYAML==5.3.1
six==1.15.0
sqlparse==0.3.1
virtualenv==20.0.21
