{% extends "ui/base.html" %}
{% block content %}
  <article class="media content-section">
     <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">Seller: {{ object.seller.first_name }}</a>
            <small class="text-muted">{{ object.update_date}}</small>
            {% if object.seller == user%}
              <div>
                <a class= "btn btn-secondary btn-sm mb-1"href ="{% url 'book-update' object.id%}">Update</a>
                <a class= "btn btn-danger btn-sm mb-1"href ="{% url 'book-delete' object.id%}">Delete</a>
                 <a class= "btn btn-primary btn-sm mb-1"href ="{% url 'add-image' object.id%}">Add Image</a>
              </div>
            {% else %}
              <div>
                <a class= "btn btn-primary btn-sm mb-1"href ="{% url 'update-cart' object.id%}">Add to Cart</a>
              </div>
            {% endif %}
        </div>
          <h2 class ="article-title">Title: {{ object.title }}</a></h2>
          <p class="article-content">ISBN: {{ object.isbn }}</p>
          <p class="article-content">Authors: {{ object.authors }}</p>
          <p class="article-content">Publication Date: {{ object.publication_date |date:"F d, Y" }}</p>
          <p class="article-content">Price: {{ object.price }}</p>
          <p class="article-content">Quantity: {{ object.quantity }}</p>
          {% comment %} {{object.get_pictures}} {% endcomment %}
           {% comment %} {% for image in object.get_pictures %} {% endcomment %}
 
            {% comment %} <img class="img-thumbnail" src="{{image.image.url}}"> {% endcomment %}
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  
                  {% for image in object.get_pictures %}
                 
                
                  <div class="carousel-item {% if forloop.first %} active{% endif %}">
                    <img class="d-block w-100" src="{{ image.image.url }}" alt="Second slide" >
                    <p>
                     <h5> <a class= "btn btn-danger btn-sm mb-1"href ="{% url 'delete-image' object.id image.id %}" style="margin-left:250px;">Delete Image</a> </h5>
                    </p>
                  </div>
                 
                  {% endfor %}
                
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
              
            {% comment %} {% endfor %}  {% endcomment %}
          
        </div>
          
      </div>
  </article>
{% endblock content %}





